@import url(./global.css);

/* ----------------- Header ----------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-neutral-silver);
    padding: 22px 0;
}

.navHeader>ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.navHeader>ul>li>a {
    text-decoration: 0;
    color: #18191F;
}

.active {
    font-weight: 600;
}

.buttonHeader {
    display: flex;
    gap: 14px;
}

.buttonLogin {
    background-color: var(--color-neutral-silver);
    padding: 10px 20px;
}

.buttonLogin>a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 14px;
}

.buttonSignUp {
    background-color: var(--color-primary);
    border-radius: 6px;
    padding: 10px 20px;
}

.buttonSignUp>a {
    color: var(--color-neutral-white);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

/* ----------------- Main ----------------- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    padding: 96px 0;
    background-color: var(--color-neutral-silver);
}

.contentLessons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 657px;
}

.contentLessons>h1 {
    font-size: 64px;
    color: var(--color-neutral-grey);
}

.contentLessons>h1>span {
    color: var(--color-primary);
}

.contentLessons>p {
    color: var(--color-neutral-grey);
}

.contentLessons>button {
    width: 128px;
}

/* ----------- Section Our Clients ----------- */
.ourClients {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
    gap: 16px;
}

.ourClientsContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ourClientsContent>h2 {
    font-size: 36px;
    color: var(--color-neutral-dgray);
}

.ourClientsContent>p {
    color: var(--color-neutral-grey);
}

.ourClientsLogo {
    display: flex;
    justify-content: center;
    gap: 136px;
    padding: 25px 0;
}

/* ------------ Section Manage your entire ------------ */
.manageSystem {
    width: 100%;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.manageSystem>h2 {
    font-size: 36px;
    font-weight: 600px;
    width: 542px;
    text-align: center;
    color: var(--color-neutral-dgray);
}

.manageSystem>p {
    margin-top: 8px;
    font-size: 16px;
    color: var(--color-neutral-grey);
}

.cardsWrapper {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 127px;
    margin-top: 16px;
}

.cardsWrapper>.card {
    width: 300px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    border-radius: 8px;
    background-color: var(--color-neutral-white);
    box-shadow: 0 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.card>h3 {
    font-size: 28px;
    font-weight: 700px;
    color: var(--color-neutral-dgray);
    text-align: center;
    margin-top: 16px;
}

.card>p {
    font-size: 14px;
    color: var(--color-neutral-grey);
    text-align: center;
    margin-top: 8px;
}

/* ----------------- Section pixelgrade ----------------- */
.pixelGrade {
    width: 100%;
    height: 433px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pixelGrade>aside {
    width: 661px;
    height: 268px;
}

.pixelGrade>aside>h2 {
    font-size: 36px;
    font-weight: 600px;
    width: 601px;
    margin-right: 60px;
    color: var(--color-neutral-dgray);
}

aside>p {
    font-size: 14px;
    color: var(--color-neutral-grey);
    margin-top: 16px;
}

aside>button {
    margin-top: 32px;
    padding: 14px 32px;
    font-size: 16px;
    background-color: var(--color-primary);
    color: var(--color-neutral-white);
}

/* ----------------- Section Helping a local----------------- */
.business {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-silver);
    margin-top: 48px;
    gap: 72px;
    padding: 64px 0;
}

.business>aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 540px;
}

.business>aside>h2 {
    font-size: 36px;
    font-weight: 600px;
    color: var(--color-neutral-dgray);
    width: 398px;
}

.business>aside>h2>span {
    color: var(--color-primary);
}

.business>aside>p {
    color: #18191F;
    font-size: 16px;
}

.business .benefits {
    width: 540px;
    display: grid;
    grid-template-columns: 255px 255px;
    column-gap: 30px;
    row-gap: 40px;
}

.business>.benefits>.benefit {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

/* ------------ Section DesignYourSite ------------ */
.howToDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 49.47px;
}

.howToDesign>aside {
    display: flex;
    flex-direction: column;
    width: 661px;
    gap: 16px;
}

.howToDesign>aside>h2 {
    width: 601px;
    font-size: 36px;
    font-weight: 600px;
    color: var(--color-neutral-dgray);
}

.howToDesign>aside>p {
    width: 601px;
    font-size: 14px;
    color: var(--color-neutral-grey);
}

.howToDesign>aside>button {
    width: 151px;
    margin-top: 16px;
    padding: 14px 32px;
    color: var(--color-neutral-white);
}

/* -------------Section TimSmith ------------- */
.timSmith {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-silver);
    padding: 32px 0px;
    gap: 78px;
    margin-top: 48px;
}

.timSmith>.costumerContent {
    width: 748px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.timSmith>.costumerContent>p:nth-child(1) {
    color: var(--color-neutral-grey);
    font-size: 16px;
    line-height: 24px;
}

.costumerInformation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.timSmith>.costumerContent>.costumerInformation>p:nth-child(1) {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 600px;
}

.timSmith>.costumerContent>.costumerInformation>p:nth-child(2) {
    color: var(--color-neutral-lgrey);
    font-size: 16px;
}

.costumerContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 16px;
}

.costumerContainer>.customersItens {
    display: flex;
    gap: 41px;
}

.costumerContainer>.customerNavigation>button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-primary);
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

/* ------------ Caring Marketing ------------ */
.caringMarketing {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px 0 94.6px 0;
    text-align: center;
}

.caringMarketingText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.caringMarketingText>p {
    color: var(--color-neutral-grey);
    width: 628px;
}

.caringMarketingConteiner {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.caringCards {
    width: 368px;
    position: relative;
}

.caringCardsContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: var(--color-neutral-silver);
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.40);
    width: 317px;
    position: absolute;
    top: 190px;
    left: 25.5px;
}

.caringCardsContent>p {
    font-size: 20px;
    color: var(--color-neutral-grey);
    font-weight: 600;
}

.caringCardsContent>button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

/*  ----------- Antes do footer ----------- */
.antesDoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: var(--color-neutral-silver);
}

.antesDoFooter>h2 {
    font-size: 64px;
    width: 887px;
    text-align: center;
    color: var(--neutral-black);
    font-weight: 600;
    padding: 16px;
}

.antesDoFooter>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 14px 32px;
    gap: 8px;
    color: var(--color-neutral-white);
}

/* ----------- Footer ----------- */
footer {
    background-color: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    height: 400px;
}

footer>.socialMedias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    height: 190px;
    width: 350px;
}

footer>.socialMedias>.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-neutral-silver);
    font-weight: 400;
    font-size: 14px;
}

footer>.socialMedias>.footerNav {
    display: flex;
    gap: 16px;
}

footer>.footerContent {
    display: grid;
    grid-template-columns: 160px 160px 255px;
    column-gap: 30px;
}

footer>.footerContent>.information {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer>.footerContent>.information>h2 {
    color: var(--color-neutral-white);
    font-size: 20px;
    font-weight: 600;
}

footer>.footerContent>.information>.navCompany {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer>.footerContent>.information>.navCompany>a {
    text-decoration: 0;
    color: var(--color-neutral-silver);
    font-size: 14px;
}

/* //////////////////////////////////// */
footer>.footerContent>.stayUp {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

footer>.footerContent>.stayUp>h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-neutral-white);
}

footer>.footerContent>.stayUp>.send {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: #515B60;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

footer>.footerContent>.stayUp>.send>input {
    background-color: transparent;
    color: var(--color-neutral-white);
}

footer>.footerContent>.stayUp>.send>input::placeholder {
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
}

footer>.footerContent>.stayUp>.send>input:focus {
    outline: 0;
}
footer>.footerContent>.stayUp>.send > button {
    background-color: transparent;
}