@import url(./global.css);
/* ----------------- Header ----------------- */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-neutral-silver);
    padding: 22px 0;
}
.navHeader > ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.navHeader > ul > li > a{
    text-decoration: 0;
    color: #18191F;
}
.active{
    font-weight: 600;
}
.buttonHeader {
    display: flex;
    gap: 14px;
}
.buttonLogin{
    background-color: var(--color-neutral-silver);
    padding: 10px 20px; 
}
.buttonLogin > a{
    color: var(--color-primary);
    text-decoration: none;
    font-size: 14px;
}
.buttonSignUp{
    background-color: var(--color-primary);
    border-radius: 6px;
    padding: 10px 20px;
}
.buttonSignUp > a{
    color: var(--color-neutral-white);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
} 
/* ----------------- Main ----------------- */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    padding: 96px 0;
    background-color: var(--color-neutral-silver);
}
.contentLessons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 657px;
}
.contentLessons > h1{
    font-size: 64px;
    color: var(--color-neutral-grey);
}
.contentLessons > h1 > span{
    color: var(--color-primary);
}
.contentLessons > p{
    color: var(--color-neutral-grey);
}
.contentLessons > button{
    width: 128px;
}
/* ----------- Section Our Clients ----------- */
 .ourClients{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
    gap: 16px;
 }
.ourClientsContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ourClientsContent > h2{
    font-size: 36px;
    color: var(--color-neutral-dgray);
}
.ourClientsContent > p{
    color: var(--color-neutral-grey);
}
.ourClientsLogo{
    display: flex;
    justify-content: center;
    gap: 136px;
    padding: 25px 0;
}
/* ------------ Section Manage your entire ------------ */
.manageSystem{
    width: 100%;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.manageSystem > h2{
    font-size: 36px;
    font-weight: 600px;
    width: 542px;
    text-align: center;
    color: var(--color-neutral-dgray);
}
.manageSystem > p{
    margin-top: 8px;
    font-size: 16px;
    color: var(--color-neutral-grey);
}
.cardsWrapper{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 127px;
    margin-top: 16px;
}
.cardsWrapper > .card{
    width: 300px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    border-radius: 8px;
    background-color: var(--color-neutral-white);
    box-shadow:  0 2px 4px 0px rgba(171, 190, 209, 0.20);
}
.card > h3 {
    font-size: 28px;
    font-weight: 700px;
    color: var(--color-neutral-dgray);
    text-align: center;
    margin-top: 16px;
}
.card > p {
    font-size: 14px;
    color: var(--color-neutral-grey);
    text-align: center;
    margin-top: 8px;
}
/* ----------------- Section pixelgrade ----------------- */
.pixelGrade {
    width: 100%;
    height: 433px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.pixelGrade > aside {
    width: 661px;
    height: 268px;
}
.pixelGrade > aside >h2 {
    font-size: 36px;
    font-weight: 600px;
    width: 601px;
    margin-right: 60px;
    color: var(--color-neutral-dgray);
}
aside > p {
    font-size: 14px;
    color: var(--color-neutral-grey);
    margin-top: 16px;
}
aside > button {
    margin-top: 32px;
    padding: 14px 32px;
    font-size: 16px;
    background-color: var(--color-primary);
    color: var(--color-neutral-white); 
}
/* ----------------- Section Helping a local----------------- */
.business {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-silver);
    margin-top: 48px;
    gap: 72px;
    padding: 64px 0;
}
.business > aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 540px;
}
.business > aside > h2 {
    font-size: 36px;
    font-weight: 600px;
    color: var(--color-neutral-dgray);
    width: 398px;
}
.business > aside > h2 > span {
    color: var(--color-primary);
}
.business > aside > p {
    color: #18191F;
    font-size: 16px;
}
.business .benefits{
    width: 540px;
    display: grid;
    grid-template-columns: 255px 255px;
    column-gap: 30px;
    row-gap: 40px;
}
.business > .benefits > .benefit {
    display: flex;       
    justify-content: start;
    align-items: center;
    gap: 16px;
}
/* ------------ Section DesignYourSite ------------ */
