@import url(./global.css);
/* font-family: "Roboto", sans-serif; */
*{
    margin: var(--margin);
    border: var(--border);
    padding: var(--padding);
    box-sizing: var(--box-sizing);
    background: var(--background);
    text-decoration: var(--text-decoration);
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 72px;
    margin: 12px 64px;

}
header >img{
    width: 63px;
    height: 27px;
}
.buttons{
    display: flex;
    gap: 24px;
    padding: 12px;
}
#button{
    padding: 8px 20px;
    background-color: black;
    color: white;
}
#x{
    padding: 12px;
}
main{
    position: absolute;
}
main> nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 219px 63px 0 64px;
    /* padding: 12px 0; */
    gap: 12px;
}
/* main > nav > a{

} */
nav > button{
    display: flex;
    align-items: center;
}
