@import url(./global.css);

/* ----------- Header ----------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
    padding: 29px 100px 30px 54px;
}

header>nav {
    display: flex;
    gap: 74px;
}
header>nav> a {
    font-size: 16px;
    color: var(--color-black);

}

header>.iconsWrapper {
    display: flex;
    gap: 45px;
}

/* ----------- Main ----------- */
main {
    background-image: url(../images/imagemDeUmaSalaDeEstar.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 813px;
}

main>.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px 30px;
    background-color: #FFF3E3;
    width: 561px;
    gap: 10px;
    border-radius: 15px;
    position: absolute;
    top: 300px;
    right: 200px;
}
main > .discover > p:nth-child(1){
    font-size: 16px;
    color: var(--color-neutralBlack);
    font-weight: 600;
}
main > .discover > h1 {
    font-size: 52px;
    color: var(--color-primary);
    width: 400px;
    font-weight: 700;
}
main > .discover > p:nth-child(3){
    font-size: 18px;
    color: var(--color-neutralBlack);
}
main>.discover > button {
    margin-top: 25px;
    padding: 25px 40px;
    border-radius: 15px;
    background-color: var(--color-primary);
    color: #FFFFFF;
    font-size: 16px;
}
/* --------- Section Browse --------- */
.browse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}
.browse > h2 {
    color: var(--color-neutralBlack);
    font-size: 32px;
    font-weight: 700;
}
.browse > p {
    color: #666666;
    font-size: 20px;
}
.browse > .articleWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.browse > .articleWrapper > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
}
.browse > .articleWrapper > article > img {
    border-radius: 10px;
}
.browse > .articleWrapper > article > p {
    margin-top: 30px;
    color: var(--color-neutralBlack);
    font-size: 24px;
    font-weight: 600;
}
/* ---------- Section Our Products ---------- */
.ourProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
}
.ourProducts > .productsWrapper {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}
.ourProducts > .productsWrapper > .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 8px;
    background-color: var(--color-lightBG);
}
.products img {
    border-radius: 5px;
}
.productContent {
    margin: 15px;
}
.productContent > h3 {
    color: var(--color-neutralBlack);
    font-size: 24px;
}
.productContent > p:nth-child(2) {
    font-size: 16px;
    color: var(--color-gray3);
}
.price {
    display: flex;
    gap: 16px;
}
.price > p:nth-child(1){
    font-size: 20px;
    color: var(--color-gray1);
    font-weight: 600;
}
.price > p:nth-child(2){
    color: var(--color-gray4);
    font-size: 16px;
    text-decoration: line-through;
}
.ourProducts > button {
    margin-top: 32px;
    padding: 12px 50px;
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}