@import url(./global.css);
body{
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-neutra);
}
h1,h3,h5{
    color: var(--cor-primaria);
    margin: 10px;
}
h2,h4{
    color: var(--cor-secundaria);
    margin: 10px;
}
.button1{
    background-color: #fff;
    color: var(--cor-destaque);
    border-radius: 10px;
    width: 5rem;
    border-bottom: solid black;
}
.button2{
    background-color: #000;
    color: var(--cor-neutra);
    border-radius: 10px;
    width: 8rem;    
}
p{
    color: var(--cor-texto);
    padding: 15px;
}