@import url(./global.css);
*{
    margin: var(--margin);
    padding: var(--padding);
    box-sizing: var(--box-sizing);
    text-decoration: var(--text-decoration);
    border: var(--border);
    background: var(--background);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    border: 1px solid black;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
nav > button{
    display: flex;
    justify-content: center;
    align-items: center;
}