body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#borda{
    text-align: center;
}
.Libertadores{
    color: blue;
 }
 .SulAmericana{
    color: darkgreen;
 }
 .Rebaixados{
    color: red;
 }